[submodule "posix/dot-vim/pack/edit-plugins/start/surround"]
	path = posix/dot-vim/pack/edit-plugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "posix/dot-vim/pack/edit-plugins/start/commentary"]
	path = posix/dot-vim/pack/edit-plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "posix/dot-vim/pack/edit-plugins/start/kwbdi.vim"]
	path = posix/dot-vim/pack/edit-plugins/start/kwbdi.vim
	url = https://github.com/vim-scripts/kwbdi.vim
[submodule "posix/dot-vim/pack/edit-plugins/start/vim-indent-object"]
	path = posix/dot-vim/pack/edit-plugins/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "posix/dot-vim/pack/js-ts/start/typescript-vim"]
	path = posix/dot-vim/pack/js-ts/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "posix/dot-vim/pack/tools/start/vim-fugitive"]
	path = posix/dot-vim/pack/tools/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
