[submodule "posix/dot-vim/pack/edit-plugins/start/surround"]
	path = posix/dot-vim/pack/edit-plugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "posix/dot-vim/pack/edit-plugins/start/commentary"]
	path = posix/dot-vim/pack/edit-plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "posix/dot-vim/pack/edit-plugins/start/kwbdi.vim"]
	path = posix/dot-vim/pack/edit-plugins/start/kwbdi.vim
	url = https://github.com/vim-scripts/kwbdi.vim
[submodule "posix/dot-vim/pack/edit-plugins/start/vim-indent-object"]
	path = posix/dot-vim/pack/edit-plugins/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "posix/dot-vim/pack/js-ts/start/typescript-vim"]
	path = posix/dot-vim/pack/js-ts/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "posix/dot-vim/pack/tools/start/vim-fugitive"]
	path = posix/dot-vim/pack/tools/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "posix/dot-vim/pack/js-ts/start/vim-javascript"]
	path = posix/dot-vim/pack/js-ts/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "posix/dot-vim/pack/js-ts/start/vim-jsx-pretty"]
	path = posix/dot-vim/pack/js-ts/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "posix/dot-vim/pack/edit-plugins/start/coc.nvim"]
	path = posix/dot-vim/pack/edit-plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "posix/dot-vim/pack/js-ts/coc-tsserver"]
	path = posix/dot-vim/pack/js-ts/coc-tsserver
	url = https://github.com/neoclide/coc-tsserver
